<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script id="list-item" type="text/x-handlebars-template">
      {% raw -%}
      <li>{{ message }}</li>
      {%- endraw %}
    </script>
    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {

      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

      socket.on("type msg", (data) => {
        document.querySelector("#messages").append(`Client ${data.data}`);
      });

      document.querySelector("#button").onclick = () => {
        const msg = document.querySelector("#message").value;
        socket.emit("msg sent", {"message": msg});
      };

    socket.on("msg recieve", (msg) => {
      const template = Handlebars.compile(document.querySelector("#list-item").innerHTML);
      const content = template({"message": msg.message});
      document.querySelector("#messages").innerHTML += content;
    });
    });
    </script>
  </head>
  <body>
    <input type="text" id="message">
    <button id="button">Submit</button>
    <ul id="messages">
    </ul>
  </body>
</html>
