{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
  Register
{% endblock %}


{% block content %}

<h1 class="display-4 text-center container-fluid" style="background: linear-gradient(to left, lightblue, blue, darkblue, lightblue); color: white; padding-top: 15px; padding-bottom:20px;">FLACK CHAT</h1>
  <div class="container">

  <h1 style="color: darkblue;">Register</h1><hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p class="alert alert-{{ category }}">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
    <form method="post">
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.username, placeholder="Username") }}
      {{ wtf.form_field(form.name, placeholder="Name") }}
      {{ wtf.form_field(form.password, placeholder="Password") }}
        {% if form.password.errors %}
          {% for error in form.password.errors %}<small class="alert alert-danger mb-4" style="padding-top: 2px; padding-bottom: 2px;">{{ error }}</small>{% endfor %}
        {% endif %}

      {{ wtf.form_field(form.confirm, placeholder="Confirm Password") }}

      <button class="btn btn-primary"  style="background-color: darkblue; border-color: darkblue;">Submit</button>

      <p class="text-muted" style="margin-top:10px;">Already Registered? <a href="{{ url_for('login') }}">Login Now!</a></p>
    </form>
  </div>

{% endblock %}
